<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.jhoobergs.mathgame">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/smiley" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/math_game">
            <!-- The intent-filter below makes sure this activity is launched when launching the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExampleActivity"
            android:label="@string/example"
            android:parentActivityName=".MainActivity"
            >
            <!-- For API versions lower than 16, we have to add this meta-data-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".GameActivity"
            android:label="@string/game"
            android:parentActivityName=".MainActivity"
            >
            <!-- For API versions lower than 16, we have to add this meta-data-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>
</manifest>